<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCOTQlMnwDZ-MgmCNmtDsaJiEjHlMdWaRc</string>
	<key>GCM_SENDER_ID</key>
	<string>451416412613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grupo9.proyectosg</string>
	<key>PROJECT_ID</key>
	<string>proyectosg-efee2</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectosg-efee2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451416412613:ios:924c9f74154b813badfbac</string>
</dict>
</plist>